<html>
    <head>
        <title>Schwa Ultimate</title>
    </head>
    <body>
        <div>
            <h1><a>Schwa Ultimate Blog</a></h1>
        </div>

        <div>
            <h2><a href="">Contact Us!</a></h2>
            <ul><li><a href="https://www.facebook.com/schwaultimate">Facebook</a></li><li><a href="https://twitter.com/SchwaUltimate">Twitter</a></li><li><a href="http://portlandultimate.org/">Portland Ultimate</a></li></ul>
           
        </div>

        <div>
            <h2><a href="">Roster 2015</a></h2>

            <ul><li>Olivia Bartruff</li><li><em>Julia Bladin</em></li><li>Delia Chiu</li><li>Kimber Coles</li><li>Emily Flanders</li><li><em>Natalie Green</em></li><li>Kelly Hansen</li><li>Anna Hare</li><li><em>Bethany Kaylor</em></li><li>Amanda Kostic</li><li>Emelie McKain</li><li>Molly "Cookie" Munson</li><li><strong>Alex Ode</strong></li><li><strong>Sarah "Serbia" Read-Brown</strong></li><li>Cate Roscoe</li><li><em>Julia Sherwood</em></li><li>Jesse Shofner</li><li><em>Sara Stratton</em></li><li>Trish Thoms</li><li>Jenny Tibbals</li><li><em>Lauren Truxillo</em></li><li>Hayley Wahlroos</li><li><strong>Kathryn "Nij" Weatherhead</strong></li><li><em>Alice White-Cyr</em></li><li>Margaret Wilson-Moses</li><li>Beckie Zipp</li>
			<p> <em>New to Schwa</em></p>
			<strong>Captain</strong></p>

        </div>
    </body>
</html>